PORT=4000
NODE_ENV=development
JWT_SECRET=sua_chave_secreta_jwt_longa_e_segura_aqui_minimo_32_caracteres
ALLOWED_ORIGINS=http://localhost:4000,https://roleta-sorte.online,https://dash.roleta-sorte.online,https://player.roleta-sorte.online
BASE_DOMAIN=roleta-sorte.online
PLAYER_DOMAIN=player.roleta-sorte.online
DASH_DOMAIN=dash.roleta-sorte.online
APP_NAME=CloudVTurb
